header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 85px;
  background-color: white;
  z-index: 10;
  transition: background-color 0.2s ease-out;
}
header .header-container {
  justify-content: space-between;
  width: 100%;
}
header .header-container .logo-group {
  gap: 95px;
}
header .header-container .logo-group .header-logo .logo-image {
  background-image: url("../images/header/colored-logo.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 61px;
  height: 58px;
}
header .header-container .logo-group .pdf-info {
  gap: 15px;
}
header .header-container .logo-group .pdf-info img {
  filter: brightness(0) saturate(100%) invert(60%) sepia(50%) saturate(385%) hue-rotate(61deg) brightness(92%) contrast(105%);
}
header .header-container .logo-group .pdf-info p {
  font-family: "Roboto-Regular";
  font-size: 16px;
  color: #6AB354;
}
header .header-container .social-group {
  gap: 55px;
}
header .header-container .social-group .social-icons {
  gap: 25px;
}
header .header-container .social-group .social-icons a {
  text-decoration: none;
}
header .header-container .social-group .social-icons a img {
  filter: brightness(0) saturate(100%) invert(60%) sepia(50%) saturate(385%) hue-rotate(61deg) brightness(92%) contrast(105%);
}
header .header-container .social-group .language-choose {
  gap: 20px;
}
header .header-container .social-group .language-choose p {
  font-family: "Roboto-Regular";
  font-size: 16px;
  color: #6AB354;
}
header .header-container .social-group .language-choose p:hover {
  cursor: pointer;
}
header .header-container .social-group .language-choose img {
  filter: brightness(0) saturate(100%) invert(60%) sepia(50%) saturate(385%) hue-rotate(61deg) brightness(92%) contrast(105%);
}
header .header-container .social-group .language-choose .active {
  font-weight: bold;
}
header .header-container .menu i.menu-show {
  width: 23px;
  height: 18px;
  background-image: url("../images/header/menu.png");
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0) saturate(100%) invert(60%) sepia(50%) saturate(385%) hue-rotate(61deg) brightness(92%) contrast(105%);
}
header .header-container .menu i.menu-show:hover {
  cursor: pointer;
}
header.transparent-background {
  background-color: rgba(0, 0, 0, 0);
}
header.transparent-background .header-container .logo-group .header-logo .logo-image {
  background-image: url("../images/header/white-logo.png");
}
header.transparent-background .header-container .logo-group .pdf-info img {
  filter: none;
}
header.transparent-background .header-container .logo-group .pdf-info p {
  color: white;
}
header.transparent-background .header-container .social-group .social-icons a img {
  filter: none;
}
header.transparent-background .header-container .social-group .language-choose p {
  color: white;
}
header.transparent-background .header-container .social-group .language-choose img {
  filter: none;
}
header.transparent-background .header-container .menu i.menu-show {
  filter: none;
}
header.transparent-background.dark-background {
  background-color: rgba(0, 0, 0, 0.3);
}