.cultivation .container {
  max-width: 990px;
  margin: auto;
  margin-top: 105px;
}
.cultivation .container .cultivation-info {
  gap: 55px;
  margin: 55px 0;
}
.cultivation .container .image-info {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  row-gap: 35px;
  justify-items: center;
  align-items: center;
  border: 1px solid #E3DED9;
  border-radius: 10px;
  padding: 55px 0;
  margin-bottom: 55px;
}
.cultivation .container .image-info .grid-item {
  height: 100%;
  position: relative;
}
.cultivation .container .image-info .grid-item img:hover {
  filter: brightness(0) saturate(100%) invert(30%) sepia(97%) saturate(626%) hue-rotate(57deg) brightness(98%) contrast(87%);
  cursor: pointer;
}
.cultivation .container .image-info .grid-item .grid-item-description {
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  min-width: max-content;
  border: 1px solid #E3DED9;
  border-radius: 10px;
  top: 0;
  height: 0;
  padding: 11px 20px 11px 35px;
  gap: 10px;
  font-family: "Roboto-Regular";
  font-size: 16px;
  color: #1A171B;
  background-color: white;
  opacity: 0;
  transition: visibility 0.3s linear, opacity 0.1s linear, height 0.3s ease;
}
.cultivation .container .image-info .grid-item .grid-item-description.left {
  left: 70px;
}
.cultivation .container .image-info .grid-item .grid-item-description.right {
  right: 70px;
}
.cultivation .container .image-info .grid-item .grid-item-description.active {
  visibility: visible;
  height: 46px;
  opacity: 1;
  transition: visibility 0.4s linear, opacity 0.4s linear, height 0.3s linear;
}
.cultivation .container .image-info .image-section {
  grid-column: 2;
  grid-row: 1/6;
}
.cultivation .container .cultivation-description {
  gap: 100px;
  align-items: start;
  margin-bottom: 30px;
}