.horizontal-slider {
  margin-bottom: 100px;
}
@media (max-width: 1180px) {
  .horizontal-slider .horizontal-slider-container {
    height: 768px;
  }
}
.horizontal-slider .horizontal-slider-container .image-section {
  position: relative;
  overflow: hidden;
}
.horizontal-slider .horizontal-slider-container .image-section .image-item {
  position: absolute;
  position: relative;
  height: 619px;
  width: 0%;
  transition: width 0.3s ease-out;
}
.horizontal-slider .horizontal-slider-container .image-section .image-item.selected {
  width: 100%;
  transition: width 0.3s ease-out;
}
.horizontal-slider .horizontal-slider-container .image-section .image-item.selected .slider-arrows i, .horizontal-slider .horizontal-slider-container .image-section .image-item.selected .slider-arrows p {
  opacity: 1;
  visibility: visible;
  transition: visibility 0.2s ease-out, opacity 0.2s ease-out;
}
.horizontal-slider .horizontal-slider-container .image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.horizontal-slider .horizontal-slider-container .image-section .slider-arrows {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 147px;
  bottom: 0;
  justify-content: space-between;
}
@media (max-width: 1180px) {
  .horizontal-slider .horizontal-slider-container .image-section .slider-arrows {
    height: 78px;
  }
}
.horizontal-slider .horizontal-slider-container .image-section .slider-arrows i, .horizontal-slider .horizontal-slider-container .image-section .slider-arrows p {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.2s ease-out, opacity 0.2s ease-out;
}
.horizontal-slider .horizontal-slider-container .image-section .slider-arrows p {
  font-family: "Roboto-Light";
  font-size: 40px;
  color: white;
}
@media (max-width: 1180px) {
  .horizontal-slider .horizontal-slider-container .image-section .slider-arrows p {
    font-size: 20px;
  }
}
.horizontal-slider .horizontal-slider-container .image-section .slider-arrows i {
  width: 17px;
  height: 30px;
}
@media (max-width: 1180px) {
  .horizontal-slider .horizontal-slider-container .image-section .slider-arrows i {
    scale: 0.5;
  }
}
.horizontal-slider .horizontal-slider-container .image-section .slider-arrows i:hover {
  cursor: pointer;
}
.horizontal-slider .horizontal-slider-container .image-section .slider-arrows i.next-arrow-icon {
  background-image: url("../../images/growing/section-horizontal-slider/next-arrow.png");
  margin-right: 77px;
}
.horizontal-slider .horizontal-slider-container .image-section .slider-arrows i.prev-arrow-icon {
  background-image: url("../../images/growing/section-horizontal-slider/prev-arrow.png");
  margin-left: 77px;
}
.horizontal-slider .horizontal-slider-container .image-content-section .ellipse-slider {
  gap: 25px;
  margin: 35px 0 55px 0;
}
.horizontal-slider .horizontal-slider-container .image-content-section .ellipse-slider .slider-item .line {
  background-image: url("../../images/growing/section-horizontal-slider/horizontal-line.png");
  width: 0;
  height: 1px;
  transition: width 0.3s ease-out;
}
.horizontal-slider .horizontal-slider-container .image-content-section .ellipse-slider .slider-item.selected .line {
  width: 200px;
  transition: width 0.3s ease-out;
}
.horizontal-slider .horizontal-slider-container .image-content-section .ellipse-slider .slider-item.selected .ellipse {
  background-image: url("../../images/growing/section-horizontal-slider/checked-ellipse.png");
}
.horizontal-slider .horizontal-slider-container .image-content-section .ellipse-slider .slider-item:hover {
  cursor: pointer;
}
.horizontal-slider .horizontal-slider-container .image-content-description {
  padding: 0 75px;
  height: 200px;
  overflow: hidden;
  position: relative;
}
@media (max-width: 1180px) {
  .horizontal-slider .horizontal-slider-container .image-content-description {
    height: 104px;
    margin: 0;
  }
}
.horizontal-slider .horizontal-slider-container .image-content-description .description-image-item {
  justify-content: left;
  overflow: hidden;
  position: absolute;
  margin-top: 20%;
  opacity: 0;
  visibility: hidden;
}
@media (max-width: 1180px) {
  .horizontal-slider .horizontal-slider-container .image-content-description .description-image-item {
    align-items: start;
  }
}
.horizontal-slider .horizontal-slider-container .image-content-description .description-image-item.selected {
  margin-top: 0;
  opacity: 1;
  visibility: visible;
  transition: margin-top 0.3s ease-out, opacity 0.4s ease-out, visibility 0.4s ease-out;
}
.horizontal-slider .horizontal-slider-container .image-content-description .description-image-item .description-image-section {
  height: 200px;
  width: 300px;
}
@media (max-width: 1180px) {
  .horizontal-slider .horizontal-slider-container .image-content-description .description-image-item .description-image-section {
    height: 107px;
    width: 160px;
  }
}
.horizontal-slider .horizontal-slider-container .image-content-description .description-image-item .description-image-section img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.horizontal-slider .horizontal-slider-container .image-content-description .description-image-item .description-section {
  margin-left: 60px;
}
@media (max-width: 1180px) {
  .horizontal-slider .horizontal-slider-container .image-content-description .description-image-item .description-section {
    margin-left: 23px;
  }
}
.horizontal-slider .horizontal-slider-container .image-content-description .description-image-item .description-section .description-title {
  flex-direction: column;
  align-items: start;
  margin-bottom: 50px;
  gap: 15px;
}
@media (max-width: 1180px) {
  .horizontal-slider .horizontal-slider-container .image-content-description .description-image-item .description-section .description-title {
    gap: 10px;
  }
}
.horizontal-slider .horizontal-slider-container .image-content-description .description-image-item .description-section .description-title p {
  font-family: "Roboto-Regular";
  font-size: 28px;
  color: #6AB354;
}
@media (max-width: 1180px) {
  .horizontal-slider .horizontal-slider-container .image-content-description .description-image-item .description-section .description-title p {
    font-size: 20px;
  }
}
.horizontal-slider .horizontal-slider-container .image-content-description .description-image-item .description-section .description-title img {
  margin-left: 15px;
}
@media (max-width: 1180px) {
  .horizontal-slider .horizontal-slider-container .image-content-description .description-image-item .description-section .description-title {
    margin-bottom: 10px;
  }
}
.horizontal-slider .horizontal-slider-container .image-content-description .description-image-item .description-section .description-main {
  gap: 60px;
}
@media (max-width: 1180px) {
  .horizontal-slider .horizontal-slider-container .image-content-description .description-image-item .description-section .description-main {
    gap: 48px;
  }
}
.horizontal-slider .horizontal-slider-container .image-content-description .description-image-item .description-section .description-main .description-card {
  gap: 25px;
}
@media (max-width: 1180px) {
  .horizontal-slider .horizontal-slider-container .image-content-description .description-image-item .description-section .description-main .description-card {
    gap: 20px;
  }
}
@media (max-width: 1180px) {
  .horizontal-slider .horizontal-slider-container .image-content-description .description-image-item .description-section .description-main .description-card .card-image {
    width: 42px;
    height: 42px;
  }
}
.horizontal-slider .horizontal-slider-container .image-content-description .description-image-item .description-section .description-main .description-card .card-text p {
  font-family: "Roboto-Regular";
  font-size: 15px;
  color: black;
  line-height: 1.6;
}
@media (max-width: 1180px) {
  .horizontal-slider .horizontal-slider-container .image-content-description .description-image-item .description-section .description-main .description-card .card-text p {
    font-size: 11px;
  }
}
.horizontal-slider .horizontal-slider-container .image-content-description .description-image-item .description-section .description-main .description-card .card-text p span {
  font-family: "Roboto-Regular";
  font-weight: 600;
  font-size: 24px;
  color: black;
  margin-right: 10px;
}
@media (max-width: 1180px) {
  .horizontal-slider .horizontal-slider-container .image-content-description .description-image-item .description-section .description-main .description-card .card-text p span {
    font-size: 18px;
    margin-right: 4px;
  }
}