.freezing-info .freezing-container {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 190px;
  gap: 60px;
  flex-direction: column;
}
.freezing-info .freezing-container .freezing-block {
  border: 1px solid #E3DED9;
  border-radius: 10px;
  padding: 30px 30px 10px 30px;
  gap: 100px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}
.freezing-info .freezing-container .freezing-block .content .content-title {
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
}
.freezing-info .freezing-container .freezing-block .content .content-title p {
  font-family: "Roboto-Light";
  font-size: 30px;
  color: #6AB354;
}
.freezing-info .freezing-container .freezing-block .content .content-description {
  line-height: 1.6;
  text-align: justify;
}
.freezing-info .freezing-container .freezing-block .content .content-description p {
  font-family: "Roboto-Regular";
  font-size: 18px;
  color: black;
}

.freezing-process .freezing-process-title {
  flex-direction: column;
  gap: 70px;
  margin-bottom: 55px;
}
.freezing-process .freezing-process-main {
  position: relative;
}
.freezing-process .freezing-process-main .divider {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -0.7%);
  height: 5235px;
}
.freezing-process .freezing-process-main .grid-info-container {
  row-gap: 110px;
  column-gap: 140px;
}
.freezing-process .freezing-process-main .grid-info-container .grid-item.shadow {
  border: 1px solid #6AB354;
  box-shadow: none;
}
.freezing-process .freezing-process-main .grid-info-container .grid-item.grid-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.freezing-process .freezing-process-main .grid-info-container .grid-item .grid-title p {
  font-size: 30px;
  font-family: "Roboto-Light";
}
.freezing-process .freezing-process-main .grid-info-container .grid-item .grid-main p {
  line-height: 1.8;
}

.map-image {
  margin: 100px 0;
}

@media (max-width: 1300px) {
  .freezing-process .freezing-process-title {
    gap: 40px;
  }
  .freezing-process .freezing-process-title img {
    width: 150px;
  }
  .freezing-process-main .divider {
    width: 20px;
    height: 3322px !important;
  }
}
@media (max-width: 900px) {
  .freezing-process .freezing-process-title img {
    width: 130px;
  }
  .freezing-process-main .divider {
    width: 10px;
  }
}
@media (max-width: 800px) {
  .freezing-process .freezing-process-title {
    gap: 20px;
  }
  .freezing-process .freezing-process-title img {
    width: 140px;
  }
  .freezing-process-main .divider {
    display: none;
  }
}
@media (max-width: 1080px) {
  .freezing-info {
    max-width: calc(100% - 40px);
    margin: 0 auto;
  }
  .freezing-info .freezing-container {
    margin-bottom: 40px;
  }
  .freezing-info .freezing-container .freezing-block {
    gap: 50px;
  }
  .freezing-info .freezing-container .freezing-block:not(:first-child) {
    flex-direction: row-reverse;
  }
  .freezing-info .freezing-container .freezing-block .image-section img {
    width: 150px;
    height: 100%;
    object-fit: contain;
  }
  .freezing-info .freezing-container .freezing-block .content .content-title {
    text-align: center;
  }
  .freezing-info .freezing-container .freezing-block .content .content-description p {
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  .freezing-info .freezing-container {
    margin-bottom: 30px;
  }
}
@media (max-width: 724px) {
  .freezing-process-title {
    text-align: center;
  }
  .freezing-info .freezing-container .freezing-block {
    gap: 15px;
    padding: 15px 20px 10px 20px;
    flex-direction: column;
  }
  .freezing-info .freezing-container .freezing-block:not(:first-child) {
    flex-direction: column-reverse;
  }
  .freezing-info .freezing-container .freezing-block .image-section img {
    width: 130px;
  }
  .freezing-info .freezing-container .freezing-block .content .content-title p {
    font-size: 24px;
  }
  .freezing-info .freezing-container .freezing-block .content .content-description p {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .freezing-info .freezing-container .freezing-block .image-section img {
    width: 100px;
  }
  .freezing-info .freezing-container .freezing-block .content .content-title p {
    font-size: 22px;
  }
  .freezing-info .freezing-container .freezing-block .content .content-description p {
    font-size: 12px;
  }
}
@media (max-width: 500px) {
  .freezing-info .freezing-container .freezing-block .image-section img {
    width: 80px;
  }
  .freezing-info .freezing-container .freezing-block .content .content-title p {
    font-size: 20px;
  }
  .freezing-info .freezing-container .freezing-block .content .content-description p {
    font-size: 10px;
  }
}