.product-card-page {
    .main-logo-text {
        background-image: url('../../images/product-card/main-logo-background.png');
        margin-bottom: 16px;
    }

    section {
        background-color: #ffffff;

        .card-container {

            .product-card-section {
                margin-top: 60px;
                gap: 74px;
                align-items: flex-start;
                justify-content: left;

                .image-section {
                    flex-direction: column;
                    max-width: min-content;
                    gap: 26px;

                    .main-image {
                        border-radius: 10px;
                        position: relative;
                        overflow: hidden;

                        .image-slider {
                            width: 439px;
                            height: 490px;
                            overflow-x: auto;
                            overflow-y: hidden;

                            &::-webkit-scrollbar {
                                display: none;
                            }

                            &--wrapper {
                                width: max-content;

                                .slider-item {
                                    width: 439px;
                                    height: 490px;
                                    overflow: hidden;

                                    img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;

                                        transform: scale(1.1);
                                    }
                                }
                            }
                        }

                        .bar-slider {
                            justify-content: space-between;
                            position: absolute;
                            width: 100%;
                            height: 76px;
                            bottom: 0;
                            background-color: rgba(0, 0, 0, 0.6);
                        }
                    }

                    .sub-images {
                        width: 100%;
                        justify-content: space-between;

                        img.sub-image-item {
                            border-radius: 10px;
                            max-width: 128px;
                            max-height: 144px;
                        }
                    }
                }

                .text-section {
                    flex-direction: column;
                    gap: 40px;
                    align-items: flex-start;

                    p.title-text {
                        font-family: 'Roboto-Light';
                        font-size: 28px;
                        color: #6AB354;
                    }

                    p.description-text {
                        font-family: 'Roboto-Regular';
                        font-size: 16px;
                        color: #1A171B;
                    }

                    .text-content {
                        line-height: 25px;
                        max-width: 502px;

                    }

                    .icon-section {
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 19px;

                        .icon-item {
                            gap: 34px;

                            .icon-text {
                                line-height: 25px;

                                p.icon-title {
                                    font-family: 'Roboto-Regular';
                                    font-weight: bold;
                                    font-size: 16px;
                                    color: #6AB354;
                                }
                            }
                        }
                    }
                }
            }

            .lower-slider-section {
                margin-top: 37px;
                border-radius: 10px;
                border: 1px solid #6AB354;
                padding: 38px 0 72px 0;
                flex-direction: column;

                p {
                    font-family: 'Roboto-Light';
                    color: #6AB354;
                }

                .title-text {
                    margin-bottom: 47px;

                    p {
                        font-size: 28px;
                    }
                }

                .slider-content {
                    position: relative;
                    width: 100%;

                    .slider {
                        width: 80%;
                        justify-content: space-between;
                        overflow-x: auto;

                        &::-webkit-scrollbar {
                            display: none;
                        }

                        .slider-image-section {

                            height: 370px;

                            .slider-item {  
                                overflow: hidden;
                                display: grid;  
                                grid-template-columns: 252px;
                                grid-template-rows: 75% 25%;
                                height: 100%;

                                &:not(:last-child) {
                                    margin-right: 135px;
                                }

                                img {
                                    border-radius: 10px;
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }

                                p {
                                    font-size: 30px;
                                    text-align: center;
                                }
                            }
                        }
                    }

                    .arrow-section {
                        position: absolute;
                        width: max-content;
                        height: 80%;
                        top: 0;

                        &.right {
                            right: 0;
                        }

                        &.left {
                            left: 0;
                        }

                        i {
                            width: 15px;
                            height: 30px;
                            margin: 0 39px;

                            &.lower-slider-arrow-left {
                                background-image: url('../../images/product-card/lower-slider-arrow-left.png');
                            }

                            &.lower-slider-arrow-right {
                                background-image: url('../../images/product-card/lower-slider-arrow-right.png');
                            }

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }


            }

        }
    }

}

@media (max-width: 1180px) {

    .product-card-section {
        .image-section {
            gap: 20px !important;

            .main-image {
                .image-slider {
                    width: 380px !important;
                    height: 400px !important;
                }
    
                .bar-slider {
                    height: 61px !important; 
                }
            }

            .sub-images {
                height: 115px !important;
                gap: 20px !important;

                .sub-image-item {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .text-section {

            gap: 30px !important;

            .text-content {

                padding-bottom: 30px;
                border-bottom: 1px solid #6AB354;

                .title-text {
                    font-size: 26px !important;
                }

                .description-text {
                    font-size: 14px !important;
                }
            }

            .text-section-divider {
                display: none;
            }

            .icon-section {
                .icon-item {
                    img {
                        width: 55px;
                        height: 55px;
                    }

                    .icon-text {
                        p {
                            font-size: 15px !important;
                        }
                    }
                }
            }
        }
    }

    .lower-slider-section {

        padding: 30px 0 20px 0 !important;

        .title-text {
            margin-bottom: 30px !important;

            p {
                font-size: 25px !important;
            }
        }

        .slider-content {
            position: relative;
            width: 100%;

            .slider {
                width: 80%;
                justify-content: space-between;
                overflow-x: auto;

                .slider-image-section {

                    height: 330px !important;

                    .slider-item {  
                        grid-template-columns: 230px !important;

                        &:not(:last-child) {
                            margin-right: 60px !important;
                        }

                        p {
                            font-size: 25px !important;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1100px) {

    

    .lower-slider-section {
        .slider-content {
            position: relative;
            width: 100%;

            .slider {
                width: 80%;
                justify-content: space-between;
                overflow-x: auto;

                .slider-image-section {

                    height: 300px !important;

                    .slider-item {  
                        grid-template-columns: 200px !important;

                        &:not(:last-child) {
                            margin-right: 60px !important;
                        }

                        p {
                            font-size: 23px !important;
                            text-align: center;
                        }
                    }
                }
            }

        }
    }
}

@media (max-width: 1000px) {

    .menu-section {
        margin-bottom: 30px !important;
    }

    .product-card-section {
        margin-top: 30px !important;
        gap: 30px !important;

        .image-section {
            gap: 20px !important;

            .main-image {
                .image-slider {
                    width: 350px !important;
                    height: 343px !important;
                }
    
                .bar-slider {
                    height: 61px !important; 
                }
            }

            .sub-images {
                height: 110px !important;
                gap: 20px !important;

                .sub-image-item {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .text-section {
            .text-content {
                .title-text {
                    font-size: 23px !important;
                }

                .description-text {
                    font-size: 12px !important;
                }
            }

            .icon-section {
                .icon-item {

                    gap: 25px !important;

                    img {
                        width: 45px;
                        height: 45px;
                    }

                    .icon-text {
                        p {
                            font-size: 14px !important;
                        }
                    }
                }
            }
        }
    }

    .lower-slider-section {
        padding: 25px 0 10px 0 !important;
        .title-text {
            margin-bottom: 25px !important;

            p {
                font-size: 20px !important;
            }
        }

        .slider-content {
            position: relative;
            width: 100%;

            .slider {
                width: 80%;
                justify-content: space-between;
                overflow-x: auto;

                .slider-image-section {

                    height: 250px !important;

                    .slider-item {  
                        grid-template-columns: 170px !important;

                        &:not(:last-child) {
                            margin-right: 50px !important;
                        }

                        p {
                            font-size: 20px !important;
                            text-align: center;
                        }
                    }
                }
            }

            
            .arrow-section i {
                margin: 0 25px !important;
                transform: scale(0.9);
            }
        }
    }
}

@media (max-width: 740px) {

    .product-card-section {
        .image-section {
            .main-image {
                .image-slider {
                    width: 330px !important;
                    height: 335px !important;
                }
    
                .bar-slider {
                    height: 61px !important; 
                }
            }

            .sub-images {
                height: 100px !important;
                gap: 15px !important;
            }
        }

        .text-section {
            .text-content {
                .title-text {
                    font-size: 20px !important;
                }
            }

            .icon-section {
                .icon-item {
                    gap: 17px !important;
                    img {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
    }

    .lower-slider-section {

        .slider-content {
            position: relative;
            width: 100%;

            .slider {
                width: 80%;
                justify-content: space-between;
                overflow-x: auto;

                .slider-image-section {

                    height: 200px !important;

                    .slider-item {  
                        grid-template-columns: 140px !important;

                        &:not(:last-child) {
                            margin-right: 30px !important;
                        }

                        p {
                            font-size: 20px !important;
                            text-align: center;
                        }
                    }
                }
            }

            
            .arrow-section i {
                margin: 0 18px !important;
                transform: scale(0.8) !important;
            }
        }
    }
}

@media (max-width: 670px) {
    .product-card-section {

        flex-direction: column;
        align-items: center !important;

        .image-section {

            .main-image {
                .image-slider {
                    width: 330px !important;
                    height: 335px !important;
                }
    
                .bar-slider {
                    height: 61px !important; 
                }
            }

            .sub-images {
                height: 100px !important;
                gap: 15px !important;
            }
        }

        .text-section {
            .text-content {
                .title-text {
                    font-size: 20px !important;
                }
            }

            .icon-section {
                .icon-item {
                    gap: 17px !important;
                    img {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    


    .lower-slider-section {
        .slider-content {
            .arrow-section i {
                margin: 0 10px !important;
                transform: scale(0.7) !important;
            }
        }
    }
}

@media (max-width: 400px) {
    .product-card-section {
        .image-section {
            .main-image {
                .image-slider {
                    width: 280px !important;
                    height: 305px !important;
                }
            }

            .sub-images {
                height: 100px !important;
                gap: 5px !important;
            }
        }
    }
}

@media (max-width: 360px) {
    .lower-slider-section {
        .slider-content {
            .arrow-section i {
                margin: 0 5px !important;
                transform: scale(0.5) !important;
            }
        }
    }
}