.main-logo-text {
  background-image: url("../../images/product-card/main-logo-background.png");
  margin-bottom: 16px;
}

section {
  background-color: #ffffff;
}
section .card-container .product-card-section {
  margin-top: 60px;
  gap: 74px;
  align-items: flex-start;
  justify-content: left;
}
section .card-container .product-card-section .image-section {
  flex-direction: column;
  max-width: -moz-min-content;
  max-width: min-content;
  gap: 26px;
}
section .card-container .product-card-section .image-section .main-image {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
section .card-container .product-card-section .image-section .main-image img.main-image-item {
  max-width: 439px;
  max-height: 490px;
}
section .card-container .product-card-section .image-section .main-image .bar-slider {
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 76px;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
section .card-container .product-card-section .image-section .sub-images {
  width: 100%;
  justify-content: space-between;
}
section .card-container .product-card-section .image-section .sub-images img.sub-image-item {
  border-radius: 10px;
  max-width: 128px;
  max-height: 144px;
}
section .card-container .product-card-section .text-section {
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
}
section .card-container .product-card-section .text-section p.title-text {
  font-family: "Roboto-Light";
  font-size: 28px;
  color: #6AB354;
}
section .card-container .product-card-section .text-section p.description-text {
  font-family: "Roboto-Regular";
  font-size: 16px;
  color: #1A171B;
}
section .card-container .product-card-section .text-section .text-content {
  line-height: 25px;
  max-width: 502px;
}
section .card-container .product-card-section .text-section .icon-section {
  flex-direction: column;
  align-items: flex-start;
  gap: 19px;
}
section .card-container .product-card-section .text-section .icon-section .icon-item {
  gap: 34px;
}
section .card-container .product-card-section .text-section .icon-section .icon-item .icon-text {
  line-height: 25px;
}
section .card-container .product-card-section .text-section .icon-section .icon-item .icon-text p.icon-title {
  font-family: "Roboto-Regular";
  font-weight: bold;
  font-size: 16px;
  color: #6AB354;
}
section .card-container .lower-slider-section {
  margin-top: 37px;
  border-radius: 10px;
  border: 1px solid #6AB354;
  padding: 38px 0 72px 0;
  flex-direction: column;
}
section .card-container .lower-slider-section p {
  font-family: "Roboto-Light";
  color: #6AB354;
}
section .card-container .lower-slider-section .title-text {
  margin-bottom: 47px;
}
section .card-container .lower-slider-section .title-text p {
  font-size: 28px;
}
section .card-container .lower-slider-section .slider-content {
  width: 100%;
  justify-content: space-between;
}
section .card-container .lower-slider-section .slider-content .slider-image-section {
  gap: 95px;
}
section .card-container .lower-slider-section .slider-content .slider-image-section .slider-item {
  flex-direction: column;
  gap: 28px;
}
section .card-container .lower-slider-section .slider-content .slider-image-section .slider-item p {
  font-size: 30px;
  text-align: center;
}
section .card-container .lower-slider-section .slider-content .arrow-section i {
  width: 15px;
  height: 30px;
  margin: 0 39px;
}
section .card-container .lower-slider-section .slider-content .arrow-section i.lower-slider-arrow-left {
  background-image: url("../../images/product-card/lower-slider-arrow-left.png");
}
section .card-container .lower-slider-section .slider-content .arrow-section i.lower-slider-arrow-right {
  background-image: url("../../images/product-card/lower-slider-arrow-right.png");
}
section .card-container .lower-slider-section .slider-content .arrow-section i:hover {
  cursor: pointer;
}/*# sourceMappingURL=section-content.css.map */