.useful-page {
    .main-logo {
        .main-logo-image {
            background-image: url('../../images/useful/main-logo-background.png');
        }

        .main-logo-empty {
            height: 250px;
        }

        .modal {
            height: 224px;
        }
    }

    @media (max-width: 1250px) {
        .main-logo {
            .main-logo-empty {
                height: 180px;
            }

            .modal {
                transform: translate(-50%, -15%);
            }
        }
    }

    @media (max-width: 1100px) {
        .main-logo {
            .main-logo-empty {
                height: 150px;
            }

            .modal {
                transform: translate(-50%, -10%);
            }
        }
    }

    @media (max-width: 740px) {
        .main-logo {
            .main-logo-empty {
                height: 150px;
            }

            .modal {
                transform: translate(-50%, -5%);
            }
        }
    }

    @media (max-width: 600px) {
        .main-logo {
            .main-logo-empty {
                height: 130px;
            }

            .modal {
                transform: translate(-50%, 10%);
            }
        }
    }

    @media (max-width: 450px) {
        .main-logo {
            .main-logo-empty {
                height: 130px;
            }

            .modal {
                transform: translate(-50%, 15%);
            }
        }
    }

    @media (max-width: 450px) {
        .main-logo {
            .main-logo-empty {
                height: 100px;
            }

            .modal {
                transform: translate(-50%, 20%);
            }
        }
    }
}