.useful-page {
    .main-logo {
        .main-logo-image {
            background-image: url('../../images/useful/main-logo-background.png');
        }

        .main-logo-empty {
            height: 250px;
        }

        .modal {
            height: 224px;
        }
    }
}