.main-logo-text {
  background-image: url("../../images/contacts/main-logo-background.png");
  margin: 0;
}

section {
  background-color: #F5F5F5;
  height: 2400px;
}
section .card-container {
  position: relative;
}
section .card-container .contacts-section {
  transform: translateY(-50px);
  position: absolute;
  border-radius: 10px;
  padding: 95px 0 66px 0;
  width: 100%;
  background-color: white;
}
section .card-container .contacts-section .contact-text-info {
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 87px;
}
section .card-container .contacts-section .contact-text-info .logo-section {
  align-items: flex-start;
  gap: 115px;
}
section .card-container .contacts-section .contact-text-info .logo-section .logo-image {
  margin-top: 11px;
}
section .card-container .contacts-section .contact-text-info .contact-text-info {
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
}
section .card-container .contacts-section .contact-text-info .contact-text-info .contact-item {
  gap: 142px;
}
section .card-container .contacts-section .contact-text-info .contact-text-info .contact-item .contact p {
  font-family: "Roboto-Regular";
  font-size: 28px;
  color: #000000;
  line-height: 36px;
}
section .card-container .contacts-section .contact-text-info .contact-text-info .contact-item .contact p.contact-title {
  color: #74B746;
}
section .card-container .contacts-section .contact-text-info .contact-text-info .contact-item .contact p.contact-bold {
  font-weight: bold;
  line-height: 50px;
}
section .card-container .contacts-section .contact-form .contact-form-container {
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid #6AB354;
  padding: 27px 32px 41px 32px;
  max-width: -moz-min-content;
  max-width: min-content;
  gap: 33px;
}
section .card-container .contacts-section .contact-form .contact-form-container .form-title {
  flex-direction: column;
}
section .card-container .contacts-section .contact-form .contact-form-container .form-title p {
  font-family: "Roboto-Light";
  font-size: 16px;
  color: #6AB354;
  line-height: 1.2;
}
section .card-container .contacts-section .contact-form .contact-form-container form.main-form {
  flex-direction: column;
  align-items: flex-start;
  gap: 11px;
}
section .card-container .contacts-section .contact-form .contact-form-container form.main-form input[type=text], section .card-container .contacts-section .contact-form .contact-form-container form.main-form label {
  color: #000000;
  font-family: "Roboto-Regular";
}
section .card-container .contacts-section .contact-form .contact-form-container form.main-form label {
  font-size: 13px;
  max-width: 273px;
}
section .card-container .contacts-section .contact-form .contact-form-container form.main-form label.label-text {
  margin-left: 30px;
  margin-top: 10px;
}
section .card-container .contacts-section .contact-form .contact-form-container form.main-form label.label-checkbox {
  gap: 17px;
}
section .card-container .contacts-section .contact-form .contact-form-container form.main-form input[type=checkbox] {
  width: 23px;
  height: 23px;
}
section .card-container .contacts-section .contact-form .contact-form-container form.main-form input[type=text] {
  width: 380px;
  padding: 10px 22px;
  border: 1px solid #6AB354;
  border-radius: 2px;
  font-size: 16px;
}
section .card-container .contacts-section .contact-form .contact-form-container form.main-form input[type=text]::-moz-placeholder {
  color: #000000;
}
section .card-container .contacts-section .contact-form .contact-form-container form.main-form input[type=text]::placeholder {
  color: #000000;
}
section .card-container .contacts-section .contact-form .contact-form-container form.main-form input[type=submit] {
  margin-top: 30px;
  align-self: center;
  width: 194px;
  height: 42px;
  background: none;
  border: 1px solid #6AB354;
  color: #6AB354;
}
section .card-container .contacts-section .contact-form .contact-form-container form.main-form input[type=submit]:hover {
  cursor: pointer;
}/*# sourceMappingURL=section-content.css.map */