.contacts-page {
    .main-logo-text {
        background-image: url('../../images/contacts/main-logo-background.png');
        margin: 0;
    }

    section {
        background-color: #F5F5F5;
        height: 2400px;

        .card-container {
            position: relative;

            .contacts-section {
                transform: translateY(-50px);
                position: absolute;
                border-radius: 10px;
                padding: 95px 0 66px 0;
                width: 100%;
                background-color: white;

                .contact-text-info {
                    align-items: flex-start;
                    gap: 15px;
                    margin-bottom: 87px;

                    .logo-section {
                        align-items: flex-start;
                        gap: 115px;

                        .logo-image {
                            margin-top: 11px;
                        }
                    }

                    &--wrapper {
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 35px;



                        .contact-item {
                            gap: 142px;

                            .contact {

                                p {
                                    font-family: 'Roboto-Regular';
                                    font-size: 28px;
                                    color: #000000;
                                    line-height: 36px;
                                }

                                p.contact-title {
                                    color: #74B746;
                                }

                                p.contact-bold {
                                    font-weight: bold;
                                    line-height: 50px;
                                }
                            }
                        }
                    }
                }

                .contact-form {

                    .contact-form-container {
                        flex-direction: column;
                        border-radius: 10px;
                        border: 1px solid #6AB354;
                        padding: 27px 32px 41px 32px;
                        max-width: min-content;
                        gap: 33px;

                        .form-title {
                            flex-direction: column;

                            p {
                                font-family: 'Roboto-Light';
                                font-size: 16px;
                                color: #6AB354;
                                line-height: 1.2;
                            }
                        }

                        form.main-form {
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 11px;

                            input[type="text"],
                            label {
                                color: #000000;
                                font-family: 'Roboto-Regular';
                            }

                            label {
                                font-size: 13px;

                                &.label-text {
                                    margin-left: 30px;
                                    margin-top: 10px;
                                }

                                &.label-checkbox {
                                    gap: 17px;
                                }

                                max-width: 273px;
                            }

                            input[type="checkbox"] {
                                width: 23px;
                                height: 23px;
                            }

                            input[type="text"] {
                                width: 380px;
                                padding: 10px 22px;
                                border: 1px solid #6AB354;
                                border-radius: 2px;
                                font-size: 16px;

                                &::placeholder {
                                    color: #000000;
                                }
                            }

                            input[type="submit"] {
                                margin-top: 30px;
                                align-self: center;
                                width: 194px;
                                height: 42px;
                                background: none;
                                border: 1px solid #6AB354;
                                color: #6AB354;

                                &:hover {
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}

@media (max-width: 1500px) {
    .contacts-page {


        section {
            height: 2250px;

            .card-container {

                .contacts-section {

                    .contact-text-info {
                        padding: 0 60px;
                        display: grid;
                        grid-template-columns: 75% 25%;
                        grid-template-rows: auto;
                        gap: 0;


                        .logo-section {
                            align-items: flex-start;
                            gap: 0;

                            .line-divider {
                                display: none;
                            }
                        }

                        &--wrapper {
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 35px;
                            border-right: 1px solid #6AB354;
                            width: 90%;

                            .contact-item {
                                gap: 0;
                                display: grid;
                                grid-template-columns: auto 1fr;
                                grid-template-rows: auto;
                                width: 100%;
                                gap: 60px;

                                img {
                                    width: 60px;
                                    height: 60px;
                                }

                                .contact {
                                    p {
                                        font-size: 26px;
                                        color: #000000;
                                        line-height: 34px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1250px) {
    .contacts-page {
        section {
            height: 2100px;
            .card-container {
                .contacts-section {
                    .contact-text-info {
                        padding: 0 60px;
                        display: grid;
                        grid-template-columns: 75% 25%;
                        grid-template-rows: auto;


                        .logo-section {
                            align-items: flex-start;
                            gap: 0;

                            .line-divider {
                                display: none;
                            }

                            .logo-image {
                                width: 200px;
                            }
                        }

                        &--wrapper {
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 35px;
                            
                            .contact-item {

                                img {
                                    width: 55px;
                                    height: 55px;
                                }
    
                                gap: 0;
                                display: grid;
                                grid-template-columns: auto 1fr;
                                grid-template-rows: auto;
                                width: 100%;
                                gap: 60px;

                                .contact {
                                    p {
                                        font-size: 24px;
                                        color: #000000;
                                        line-height: normal;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1180px) {
    .contacts-page {
        section {
            height: 1900px;
            .card-container {
                .contacts-section {
                    .contact-text-info {

                        .logo-section {
                            
                            .logo-image {
                                width: 170px;
                            }
                        }

                        &--wrapper {
                            .contact-item {

                                
                                img {
                                    width: 45px;
                                    height: 45px;
                                }

                                .contact {
                                    p {
                                        font-size: 22px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1100px) {
    .contacts-page {
        section {
            height: 1850px;
        }
    }
}

@media (max-width: 900px) {
    .contacts-page {
        section {
            height: 1950px;
            .card-container {
                .contacts-section {
                    .contact-text-info {
                        margin-bottom: 60px;

                        .logo-section {
                            position: relative;
                            .logo-image {
                                width: 145px;
                            }

                            &::after {
                                content: '';
                                position: absolute;
                                height: 150%;
                                width: 1px;
                                border-left: 2px solid #6AB354;
                                top: 0%;
                                left: -50%;
                            }
                        }

                        &--wrapper {
                            border: none;
                            gap: 90px;
                            .contact-item {

                                width: 80%;
                                img {
                                    width: 40px;
                                    height: 40px;
                                }

                                position: relative;

                                .contact {
                                    p {
                                        font-size: 20px;
                                    }

                                    &-title {
                                        position: absolute;
                                        left: 0;
                                        top: 0%;
                                        transform: translateY(-150%);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 750px) {
    .contacts-page {
        section {
            height: 1700px;
            .card-container {
                .contacts-section {
                    .contact-text-info {
                        grid-template-columns: 1fr;

                        .logo-section {
                            display: none;
                        }

                        &--wrapper {
                            border: none;
                            gap: 70px;
                            width: 100%;

                            .contact-item {
                                gap: 40px;
                                width: 100%;
                                img {
                                    width: 40px;
                                    height: 40px;
                                }

                                position: relative;

                                .contact {
                                    p {
                                        font-size: 17px;
                                    }

                                    &-title {
                                        position: absolute;
                                        left: 0;
                                        top: 0%;
                                        transform: translateY(-150%);
                                    }
                                }
                            }
                        }
                    }

                    .contact-form {
                        width: 100%;

                        .contact-form-container {
                            width: 100%;
                            max-width: 100%;
                            margin: 0 30px;

                            .form-title {
                                text-align: center;

                                p {
                                    font-size: 14px;
                                }
                            }

                            .main-form {

                                width: 100%;

                                input[type="text"] {
                                    width: 100% !important;
                                    box-sizing: border-box;
                                    font-size: 14px !important;
                                }

                                input[type="submit"] {
                                    width: 150px !important;
                                    font-size: 12px;
                                }

                                label {
                                    font-size: 11px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .contacts-page {
        section {
            height: 1500px;
            .card-container {
                .contacts-section {
                    .contact-text-info {
                        margin-bottom: 40px;
                        &--wrapper {

                            gap: 55px;

                            .contact-item {
                                .contact {
                                    p {
                                        font-size: 14px;
                                    }

                                    &-title {
                                        position: absolute;
                                        left: 0;
                                        top: 0%;
                                        transform: translateY(-150%);
                                    }
                                }
                            }
                        }
                    }

                    .contact-form {
                        width: 100%;

                        .contact-form-container {
                            padding: 20px 15px;

                            .form-title {
                                p {
                                    font-size: 12px;
                                }
                            }

                            .main-form {
                                input[type="text"] {
                                    font-size: 12px !important;
                                }

                                input[type="submit"] {
                                    font-size: 10px;
                                    margin-top: 10px !important;
                                }

                                label {
                                    font-size: 10px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .contacts-page {
        section {
            height: 1450px;
            .card-container {
                .contacts-section {
                    .contact-text-info {
                        &--wrapper {

                            gap: 40px;

                            .contact-item {
                                .contact {
                                    p {
                                        font-size: 11px;
                                    }
                                }
                            }
                        }
                    }

                    .contact-form {
                        width: 100%;

                        .contact-form-container {
                            padding: 20px 15px;
                        }
                    }
                }
            }
        }
    }
}