.main-logo {
    .main-logo-image {
        background-image: url('../../images/values/main-logo-background.png');
    }

    .main-logo-empty {
        height: 280px;
    }

    .modal {
        height: auto;
        padding-bottom: 80px;
    }
}