.cultivation-page {
    .main-logo {
        .main-logo-image {
            background-image: url('../../images/growing/section-main-logo/main-logo-background.png');
        }
    }

    @media (max-width: 1180px) {
        .main-logo {
            .main-logo-empty {
                height: 280px;
            }
        }
    }

    @media (max-width: 1100px) {
        .main-logo {
            .main-logo-empty {
                height: 230px;
            }

            .modal {
                transform: translate(-50%, -35%);
            }
        }
    }

    @media (max-width: 740px) {
        .main-logo {
            .main-logo-empty {
                height: 210px;
            }

            .modal {
                transform: translate(-50%, -20%);
            }
        }
    }

    @media (max-width: 650px) {
        .main-logo {
            .main-logo-empty {
                height: 300px;
            }

            .modal {
                transform: translate(-50%, -40%);
            }
        }
    }

    @media (max-width: 500px) {
        .main-logo {
            .main-logo-empty {
                height: 330px;
            }

            .modal {
                transform: translate(-50%, -40%);
            }
        }
    }

    @media (max-width: 370px) {
        .main-logo {
            .main-logo-empty {
                height: 350px;
            }

            .modal {
                transform: translate(-50%, -40%);
            }
        }
    }
}