.production-page {
    .main-logo {
        .main-logo-image {
            background-image: url('../../images/production/main-logo-background.png');
        }
    
        .modal {
            height: 400px;
        }
    }

    @media (max-width: 1300px) {
        .main-logo {
            .main-logo-empty {
                height: 330px;
            }
        }
    
        .modal {
            transform: translate(-50%, -30%);
        }
    }

    @media (max-width: 1100px) {
        .main-logo {
            .main-logo-empty {
                height: 250px;
            }
        }
    
        .modal {
            transform: translate(-50%, -25%) !important;
        }
    }

    @media (max-width: 740px) {
        .modal {
            transform: translate(-50%, -20%) !important;
        }
    }

    @media (max-width: 650px) {
        .main-logo {
            .main-logo-empty {
                height: 350px;
            }
        }

        .modal {
            transform: translate(-50%, -35%) !important;
        }
    }
}