.main-page {
    .berry-slider {
        .berry-slider-container {
            height: 100%;
            background-color: #ECEDEC;
            gap: 100px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;

            .image-description-mobile {
                display: none;
            }

            .image-slider {
                height: 619px;
                width: 100%;
                align-items: center;
                position: relative;


                .mobile-image-title {
                    display: none;
                    position: absolute;
                    height: 20%;
                    width: 100%;
                    background-color: rgba(0, 0, 0, 0.5);
                    z-index: 9;
                    bottom: 0;
                    left: 0;
                    overflow: hidden;

                    &--wrapper {
                        position: relative;
                        height: 100%;

                        .image-title-item {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            margin-top: 100%;
                            width: 100%;
                            text-align: center;

                            &.selected {
                                margin-top: 0;
                                transition: margin-top .2s ease-out;
                            }

                            p {
                                font-size: 32px;
                                font-family: 'Roboto-Light';
                                color: #fff;
                            }
                        }
                    }
                }

                .image-item {
                    align-self: center;
                    position: absolute;
                    top: auto;
                    right: 0;

                    &.first {
                        height: 100%;
                        z-index: 5;
                        margin-right: 176px;
                    }

                    &.second {
                        height: 90%;
                        z-index: 4;
                        margin-right: 132px;
                    }

                    &.third {
                        height: 80%;
                        z-index: 3;
                        margin-right: 88px;
                    }

                    &.fourth {
                        height: 70%;
                        z-index: 2;
                        margin-right: 44px;
                    }

                    &.fifth {
                        height: 60%;
                        z-index: 1;
                        margin-right: 0;
                    }

                    transition: height 0.2s ease-out,
                    z-index 0.2s ease-out,
                    margin-right 0.2s ease-out;
                }
            }

            .image-info {
                width: 100%;
                flex-direction: column;
                align-items: start;
                gap: 25px;




                .info-content {
                    gap: 37px;

                    .info-content-icon {
                        height: 100%;
                        align-self: start;

                        i {
                            margin-top: 10px;
                        }
                    }

                    .info-content-main {

                        gap: 7px;
                        flex-direction: column;
                        align-items: start;

                        .info-content-title {

                            p {
                                font-family: 'Roboto-Light';
                                font-size: 28px;
                                color: #1A171B;
                            }
                        }

                        .info-content-description {

                            line-height: 1.6;
                            max-height: 0;
                            overflow: hidden;

                            p {
                                font-family: 'Roboto-Light';
                                font-size: 16px;
                                color: #1A171B;
                            }

                            a {
                                margin: 0;
                            }

                            transition: max-height 0.2s ease-out;
                        }

                    }

                    &.selected {
                        .info-content-main {
                            .info-content-title {
                                p {
                                    color: #3A7611;
                                }
                            }
                        }

                        .info-content-description {
                            max-height: 50px;

                            transition: max-height 0.2s ease-out;
                        }

                        .info-content-icon {

                            .ellipse {
                                background-image: url('../../images/section/berry-list-info/checked-ellipse.png');
                            }
                        }
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    @media (max-width: 1300px) {
        .berry-slider {
            .berry-slider-container {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 0;

                .image-info {
                    padding: 0 50px;
                    box-sizing: border-box;

                    .image-info-header {
                        .head-text {
                            font-size: 44px;
                        }
                    }

                    .info-content {
                        .info-content-main {
                            .info-content-title {
                                p {
                                    font-size: 26px;
                                }
                            }

                            .info-content-description {
                                p {
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }

                // .image-slider {
                //     .image-item {

                //         display: none;

                //         &.first {
                //             display: inline-block;
                //             height: 100%;
                //             z-index: 5;
                //             margin-right: 20%;
                //         }

                //         &.second {
                //             display: inline-block;
                //             height: 90%;
                //             z-index: 4;
                //             margin-right: 15%;
                //         }

                //         &.third {
                //             display: inline-block;
                //             height: 80%;
                //             z-index: 3;
                //             margin-right: 10%;
                //         }

                //         &.fourth {
                //             display: inline-block;
                //             height: 70%;
                //             z-index: 2;
                //             margin-right: 5%;
                //         }

                //         &.fifth {
                //             display: inline-block;
                //             height: 60%;
                //             z-index: 1;
                //             margin-right: 0;
                //         }
                //     }
                // }
            }
        }
    }

    @media (max-width: 1100px) {
        .berry-slider {
            .berry-slider-container {

                grid-template-columns: 65% 35%;

                .image-info {
                    padding: 0 30px;

                    .image-info-header {
                        .head-text {
                            font-size: 40px;
                        }
                    }

                    .info-content {
                        .info-content-icon {}

                        .info-content-main {
                            .info-content-title {
                                p {
                                    font-size: 24px;
                                }
                            }

                            .info-content-description {
                                p {
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }

                .image-slider {

                    height: 510px;

                    .image-item {
                        &.first {
                            height: 100%;
                            z-index: 5;
                            margin-right: 140px;
                        }

                        &.second {
                            height: 90%;
                            z-index: 4;
                            margin-right: 105px;
                        }

                        &.third {
                            height: 80%;
                            z-index: 3;
                            margin-right: 70px;
                        }

                        &.fourth {
                            height: 70%;
                            z-index: 2;
                            margin-right: 35px;
                        }

                        &.fifth {
                            height: 60%;
                            z-index: 1;
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 950px) {
        .berry-slider {
            .berry-slider-container {
                .image-info {
                    padding: 0 20px;

                    .image-info-header {
                        .head-text {
                            font-size: 36px;
                        }
                    }

                    .info-content {
                        .info-content-icon {}

                        .info-content-main {
                            .info-content-title {
                                p {
                                    font-size: 22px;
                                }
                            }

                            .info-content-description {
                                p {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }

                .image-slider {

                    height: 450px;

                    .image-item {
                        &.first {
                            height: 100%;
                            z-index: 5;
                            margin-right: 140px;
                        }

                        &.second {
                            height: 90%;
                            z-index: 4;
                            margin-right: 105px;
                        }

                        &.third {
                            height: 80%;
                            z-index: 3;
                            margin-right: 70px;
                        }

                        &.fourth {
                            height: 70%;
                            z-index: 2;
                            margin-right: 35px;
                        }

                        &.fifth {
                            height: 60%;
                            z-index: 1;
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 800px) {
        .berry-slider {
            .berry-slider-container {
                .image-info {
                    padding: 0 20px;
                    gap: 15px;

                    .image-info-header {
                        .head-text {
                            font-size: 32px;
                        }
                    }

                    .info-content {
                        .info-content-icon {}

                        .info-content-main {
                            .info-content-title {
                                p {
                                    font-size: 20px;
                                }
                            }

                            .info-content-description {
                                p {
                                    font-size: 12px;
                                }

                            }
                        }


                        .info-content-icon {
                            .ellipse {
                                margin-top: 5px;
                            }
                        }

                        &.selected {
                            .info-content-main {
                                .info-content-description {
                                    max-height: 60px !important;
                                }
                            }
                        }
                    }
                }

                .image-slider {

                    height: 390px;

                    .image-item {
                        &.first {
                            height: 100%;
                            z-index: 5;
                            margin-right: 72px;
                        }

                        &.second {
                            height: 90%;
                            z-index: 4;
                            margin-right: 54px;
                        }

                        &.third {
                            height: 80%;
                            z-index: 3;
                            margin-right: 36px;
                        }

                        &.fourth {
                            height: 70%;
                            z-index: 2;
                            margin-right: 18px;
                        }

                        &.fifth {
                            height: 60%;
                            z-index: 1;
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 715px) {
        .berry-slider {
            .berry-slider-container {
                grid-template-columns: 60% 40%;
                .image-info {
                    padding: 0 10px;
                    gap: 10px;

                    .image-info-header {
                        .head-text {
                            font-size: 30px;
                        }
                    }

                    .info-content {
                        .info-content-icon {}

                        .info-content-main {
                            .info-content-title {
                                p {
                                    font-size: 18px;
                                }
                            }

                            .info-content-description {
                                p {
                                    font-size: 12px;
                                }

                            }
                        }


                        .info-content-icon {
                            .ellipse {
                                margin-top: 5px;
                            }
                        }

                        &.selected {
                            .info-content-main {
                                .info-content-description {
                                    max-height: 60px !important;
                                }
                            }
                        }
                    }
                }

                .image-slider {

                    height: 330px;

                    // .image-item {
                    //     &.first {
                    //         height: 100%;
                    //         z-index: 5;
                    //         margin-right: 72px;
                    //     }

                    //     &.second {
                    //         height: 90%;
                    //         z-index: 4;
                    //         margin-right: 54px;
                    //     }

                    //     &.third {
                    //         height: 80%;
                    //         z-index: 3;
                    //         margin-right: 36px;
                    //     }

                    //     &.fourth {
                    //         height: 70%;
                    //         z-index: 2;
                    //         margin-right: 18px;
                    //     }

                    //     &.fifth {
                    //         height: 60%;
                    //         z-index: 1;
                    //         margin-right: 0;
                    //     }
                    // }
                }
            }
        }
    }

    @media (max-width: 425px) {
        .berry-slider {
            .berry-slider-container {

                grid-template-columns: 1fr;
                grid-template-rows: 80% 20%;
                height: 600px;


                .image-info-wrapper {
                    width: 100%;
                    height: 100%;

                    &.mobile-image-info {
                        display: block;
                    }
                }

                .image-description-mobile {
                    display: block;
                    padding: 0 30px;
                    margin: 10px 0;
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: auto 30px;
                    gap: 5px;

                    .image-info-description {
                        position: relative;
                        height: 100%;
                        overflow: hidden;

                        .description-item {
                            margin-top: 100%;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            transition: margin-top .2s ease-out;

                            p {
                                font-family: "Roboto-Light";
                                font-size: 12px;
                                color: #1A171B;
                            }

                            &.selected {
                                margin-top: 0;
                            }
                        }
                    }
                }

                .image-info {
                    padding: 0 20px;
                    gap: 15px;

                    flex-direction: row;

                    .image-info-header {
                        display: none;

                        .head-text {
                            font-size: 32px;
                        }
                    }

                    .info-content {
                        .info-content-icon {}

                        .info-content-main {
                            display: none;
                        }


                        .info-content-icon {
                            .ellipse {
                                margin-top: 5px;
                            }
                        }

                        &.selected {
                            .info-content-main {
                                .info-content-description {
                                    max-height: 60px !important;
                                }
                            }
                        }
                    }
                }

                .image-slider {

                    height: 100%;
                    width: 100%;

                    .image-item {
                        margin: 0 !important;
                        height: 100% !important;
                        width: 100%;
                        object-fit: cover;
                    }

                    .mobile-image-title {
                        display: block;
                    }
                }
            }
        }
    }
}