.main-page {
    section .main-logo {
        position: relative;
        background-image: url("../../images/section/main-logo/main-logo-background.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100vh;

        .video-container {

            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;

            .video-background {
                pointer-events: none;

                iframe {
                    position: absolute;
                    pointer-events: none;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 177.78vh;
                    object-fit: cover;
                    vertical-align: baseline;

                    @media (max-aspect-ratio: 16 / 9) {
                        width: 177.78vh;
                        height: 120%;
                    }

                    @media (min-aspect-ratio: 16 / 9) {
                        height: 56.25vw;
                        width: 120%;
                    }
                }

            }
        }

        .content-container {

            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 2;

            .main-content {
                position: relative;
                height: 100%;
                width: 100%;

                .heading-left {
                    flex-direction: column;
                    align-items: start;
                    gap: 100px;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);

                    >p {
                        font-family: 'Roboto-Light';
                        font-size: 60px;
                        max-width: 50%;
                        color: white;
                        font-weight: 300;
                    }
                }




                .lower-buttons {
                    position: absolute;
                    bottom: 10%;
                    right: 0;
                    align-self: end;
                    gap: 47px;

                    .showreel-button {
                        background-color: transparent;
                        cursor: pointer;
                        border: none;

                        .youtube-link {
                            border: 0.5px solid white;
                            border-radius: 8px;
                            padding: 10px;
                            gap: 27px;
                            padding: 10px 30px;

                            p {
                                font-family: 'Roboto-Thin';
                                font-size: 22px;
                                color: white;
                                font-weight: 400;
                            }
                        }


                    }

                    .arrow-button {
                        border: 1px solid white;
                        border-radius: 4px;
                        padding: 10px;
                        background-color: transparent;

                        &:hover {
                            cursor: pointer;
                        }
                    }

                }
            }
        }
    }

    @media (max-width: 1515px) {
        section .main-logo {
            .content-container {
                .main-content {
                    .heading-left {
                        left: 5%;

                        >p {
                            max-width: 450px;
                        }
                    }

                    .lower-buttons {
                        right: 5%;
                    }
                }
            }
        }
    }

    @media (max-width: 1024px) {
        section .main-logo {
            .content-container {
                .main-content {

                    >p {
                        font-size: 46px;
                    }

                    .lower-buttons {
                        bottom: 5%;

                        .showreel-button {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 630px) {
        section .main-logo {
            .content-container {
                .main-content {
                    .heading-left {
                        p {
                            font-size: 46px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 505px) {
        section .main-logo {

            .content-container {
                .main-content {
                    height: 100%;
                    justify-content: flex-end;

                    .heading-left {
                        top: auto;
                        transform: none;
                        bottom: 10%;

                        .heading-logo {
                            display: none;
                        }

                        >p {
                            font-size: 32px;
                            max-width: 80%;
                            line-height: 50px;
                        }
                    }



                    .lower-buttons {
                        display: none;
                    }
                }
            }
        }
    }
}