.about-page {
    .main-logo {
        .main-logo-image {
            background-image: url('../../images/about/main-logo-background.png');
        }

        .modal {

            padding-bottom: 80px;

            .modal-cards {
                margin-top: 170px;
            }
        }
    }

    @media (max-width: 1300px) {
        .main-logo {
            .modal {

                height: auto;

                .modal-cards {
                    margin-top: 70px;
                    gap: 45px;
                }
            }
        }
    }

    @media (max-width: 1180px) {
        .main-logo {
            .modal {
                .modal-cards {
                    margin-top: 31px;
                    gap: 23px;
                }
            }
        }
    }

    .placement {
        padding-bottom: 80px;

        .placement-container {
            .title {
                margin-top: 85px;
                margin-bottom: 60px;
            }

            .placement-map {
                margin-bottom: 65px;
            }

            .placement-description {
                padding: 40px 65px;
                margin: auto;
                width: 740px;
                text-align: center;
                border: 1px solid #D9D9D9;
                border-radius: 10px;

                p {
                    font-family: 'Roboto-Light';
                    font-size: 20px;
                    color: black;
                }
            }
        }
    }

    .about-info {
        background-color: #F5F5F5;
        padding-top: 80px;
        padding-bottom: 100px;

        .about-main {
            grid-template-columns: repeat(2, 416px);
            grid-template-rows: repeat(3, 549px);
        }
    }

    .production-capacity {
        background-color: #F5F5F5;

        .title {
            margin-bottom: 60px;
        }

        .content-card {
            background-color: white;
            padding: 80px 0;
            gap: 70px;

            .image-section {
                gap: 40px;

                .icons {
                    flex-direction: column;
                    align-items: start;
                    gap: 25px;

                    .card-info {
                        gap: 20px;

                        p {
                            font-family: 'Roboto-Regular';
                            font-size: 15px;
                            color: black;

                            span {
                                font-size: 24px;
                                font-weight: bold;
                                margin-right: 4px;
                            }
                        }
                    }
                }
            }

            .description {
                gap: 45px;

                .text {
                    flex-direction: column;
                    align-items: start;
                    max-width: 369px;
                    align-self: flex-start;

                    p {
                        font-family: 'Roboto-Light';
                        font-size: 18px;
                        color: black;
                    }
                }
            }
        }
    }

    .space {
        height: 50px;
        background-color: #F5F5F5;
    }

    @media (max-width: 1300px) {

        .placement {
            &-container {
                .placement-description {
                    p {
                        font-size: 18px !important;
                    }
                }
            }
        }

        .production-capacity {
            .content-card {

                padding: 80px 20px;

                .image-section {
                    .image {
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }

                    .icons {
                        .card-info {
                            img {
                                width: 50px;
                                height: 50px;
                            }

                            &-text p {
                                font-size: 13px;

                                span {
                                    font-size: 22px;
                                }
                            }
                        }
                    }
                }

                .description {

                    img {
                        height: 130px;
                    }

                    .text p {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    @media (max-width: 1000px) {
        .placement {
            &-container {
                .placement-map {
                    margin: 0 20px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
        }


        .production-capacity {
            .content-card {

                padding: 80px 20px;

                .image-section {
                    .image {
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }

                    .icons {
                        .card-info {
                            img {
                                width: 40px;
                                height: 40px;
                            }

                            &-text p {
                                font-size: 11px;

                                span {
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                }

                .description {

                    img {
                        height: 120px;
                    }

                    .text p {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    @media (max-width: 950px) {
        .placement {
            &-container {
                .placement-description {

                    margin: 0 20px !important;
                    width: auto !important;

                    p {
                        font-size: 16px !important;
                    }
                }
            }
        }
    }


    @media (max-width: 950px) {
        .placement {
            &-container {
                .placement-description {

                    margin: 0 20px !important;
                    width: auto !important;
                    padding: 30px 35px !important;

                    p {
                        font-size: 16px !important;
                    }
                }
            }
        }
    }

    @media (max-width: 850px) {
        .production-capacity {
            .content-card {

                padding: 80px 20px;

                .image-section {
                    .icons {
                        .card-info {
                            &-text p {
                                font-size: 10px;

                                span {
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }

                .description {
                    img {
                        height: 110px;
                    }

                    .text p {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    @media (max-width: 800px) {
        .placement {
            &-container {
                .placement-description {
                    padding: 25px 30px !important;

                    p {
                        font-size: 14px !important;
                    }
                }
            }
        }

        .about-info {
            .grid-info-container {
                grid-template-rows: repeat(6, 1fr);

                .item1 {
                    order: 1
                }

                .item2 {
                    order: 2
                }

                .item3 {
                    order: 4
                }

                .item4 {
                    order: 3
                }

                .item5 {
                    order: 5
                }

                .item6 {
                    order: 6
                }
            }
        }

        .production-capacity {
            .content-card {
                flex-direction: column;

                .image-section {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    width: 100%;
                    justify-items: center;
                }

                .description {

                    position: relative;

                    &::before {
                        content: '';
                        width: 70%;
                        position: absolute;
                        height: 2px;
                        left: 50%;
                        top: -50%;
                        transform: translateX(-50%);
                        border-top: 1px solid #6AB354;
                    }

                    flex-direction: column;

                    img {
                        display: none;
                    }

                    .text {
                        max-width: 500px;
                    }
                }
            }
        }
    }

    @media (max-width: 600px) {
        .placement {
            &-container {
                .placement-description {
                    padding: 15px 20px !important;

                    p {
                        font-size: 12px !important;
                    }
                }
            }
        }

        .production-capacity {
            .content-card {
                flex-direction: column;

                .image-section {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    width: 100%;
                    justify-items: center;
                    gap: 0;

                    .image img {
                        width: 200px;
                    }
                }

                .description {
                    .text {
                        max-width: 500px;
                    }
                }
            }
        }
    }

    @media (max-width: 460px) {
        .production-capacity {
            .content-card {

                gap: 30px;

                .image-section {
                    .image img {
                        width: 180px;
                    }

                    .icons {
                        .card-info {

                            gap: 10px;

                            img {
                                width: 35px;
                                height: 35px;
                            }

                            &-text {
                                span {
                                    font-size: 14px !important;
                                }
                            }
                        }
                    }
                }

                .description {
                    .text {
                        max-width: 500px;
                    }
                }
            }
        }
    }

    @media (max-width: 430px) {
        .production-capacity {
            .content-card {

                .image-section {
                    image img {
                        width: 150px;
                    }
                }

                .card-info {
                    img {
                        width: 35px !important;
                        height: 35px !important;
                    }

                    &-text span {
                        font-size: 16px !important;
                    }
                }

                .description {
                    .text p {
                        font-size: 10px;
                    }
                }
            }
        }
    }

    @media (max-width: 400px) {
        .placement {
            &-container {
                .placement-description {
                    padding: 10px 15px !important;

                    p {
                        font-size: 10px !important;
                    }
                }
            }
        }
    }
}